.recipeDetailMainDiv{
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 10%;
    height: 90vh;
    width: 88vw;
    background-color: rgb(252, 255, 255);
}
.recipeImg{
    border-radius: 10px;
}
.recipeimgLab{
    display: flex;
    gap: 100px;
}
.buttonStyle{
    width: 100px;
    position: relative;
    left: 250px;
    top: 50px;
}
.col{
    margin: 10px;
    padding: 10px;
}
.nutrition{
    table{
        display: flex;
        flex-direction: column;
    }
    tr{
        display: flex;
        gap: 50px;
    }
}
















