.horiNav{
    display: flex;
    margin-top: 20px;
    margin-left: 150px;
    justify-content: space-between;
    height: auto;
    width: 1080px;
    h2{
        font-size: 24px;
        font-weight: 600;
    }
}
.logIn{
    border-radius: 5px;
    padding: 5px;
}
.horiButton{
    display: flex;
    gap: 10px;
}
.searchText{
    border-radius: 5px;
    padding: 5px;
}
.searchIcon{
    font-size: 24px;
    position: relative;
    left: -30px;
    top: -3px;
   
} 


