.navbar1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4%;  
    /* bottom: 8%; */
    left: 3%;
    width: 60px;
    border-radius: 20px;
    height: 500px;

    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow: hidden;

    transition: all 0.2s linear;

      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(2px) saturate(160%) contrast(45%) brightness(140%);
  
    
    ul{
      list-style-type: none;
      padding: 0%;
    }
    a{
      position: relative;
      display: table;
      width: 210px;
      margin-top: 10px;
      padding: 10px;
      font-size: 16px;
      text-decoration: none;

      color: inherit;
      text-underline-offset: var(--offset, 0.2em);
      text-decoration: underline 0.15em;
      transition: --offset 400ms, text-decoration-color 400ms;
    }
  
    .icon{
      position: relative;
      width: 40px;
      height: 40px;
      
    }
    .nav_item{
      position: relative;
      margin-left: 10px;
      font-size: 18px;
      
    }
  
    .logout{
      position: absolute;
      bottom: 20px;
    }
  } 
  
  nav:hover{
    width: 210px;
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    
  }
  
  a:hover,
  a:focus {
    background-color: rgb(245, 245, 248);
    --offset: 0.4em;
    text-decoration-color: orange;
  }
  

  
  