.navbar1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4%;  
    bottom: 8%;
    left: 3%;
    width: 60px;
    border-radius: 20px;

    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow: hidden;

    transition: all 0.2s linear;

      background-color: rgba(255, 255, 255, 0.2);
      /* backdrop-filter: blur(2px) saturate(160%) contrast(45%) brightness(140%);
      -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%); */
    
    ul{
      list-style-type: none;
      padding: 0%;
    }
    a{
      position: relative;
      display: table;
      width: 200px;
      margin-top: 10px;
      padding: 10px;
      font-size: 16px;
      color: rgb(27, 31, 37);
    }
  
    .icon{
      position: relative;
      width: 40px;
      height: 40px;

      /* text-align: center; */
    }
    .nav_item{
      position: relative;
      margin-left: 10px;
      font-size: 18px;
      
    }
  
    .logout{
      position: absolute;
      bottom: 20px;
    }
  } 
  
  nav:hover{
    width: 200px;
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    
  }
  @supports (-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) or
  (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) {
  .navbar-b.navbar-reduce {
    transition: all 0.5s ease-in-out;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
  
  