*{
  margin: 0;
  padding: 0;
  
}

.recipesPage{
  display: flex;
  flex-direction: column;
  /* background-image: url('./assets/img2.jpg'); */
  background-color: rgb(211, 217, 222);
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
}
.spinnerMainDiv{
  height: 100vh;
  width: 100vw;
}