*{
  margin: 0;
  padding: 0;
}

.recipesPage{
  display: flex;
  flex-direction: column;
  /* background-image: url('./assets/img2.jpg'); */
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
}
.spinnerMainDiv{
  height: 100vh;
  width: 100vw;
}

.homePage{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url('./bgImg1.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonStyle{
  margin: 10px;
  padding: 10px;
  height: 50px;
  width: 100px;

}